{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add visitors</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Pseudo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <form method="post" action="{{ path('topics_viewer',{'id':topic.id}) }}" >
                {% for user in users %}
                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.pseudo }}</td>
                        <td>
                            {{ form_row(forms[user.id]) }}
                        </td>
                    </tr>
                {% endfor %}
            <button type="submit" class="btn btn-primary">Add visitors</button>
        </form>
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $("label").hide();
        })
    </script>
{% endblock %}
