{% extends 'base.html.twig' %}

{% block body %}
    
        <h1 style="display: block;">Add visitors</h1>

    <table>
        <tr>
            <strong>Topic: {{ topic.title }} </strong>
        </tr>
        <tr>
            <strong> Author : {{ author.nom~author.prenom }} </strong>
        </tr>
    </table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <form method="post" action="{{ path('post_visitor') }}" >
            <input type="hidden" name="topicId" value="{{ topic.id }}">
            {% for user in users  %}
                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.pseudo }}</td>
                        <td>
                            <input type="checkbox" name="users[{{ user.id }}]" value="{{ user.id }}"/>
                        </td>
                    </tr>
                {% endfor %}
            <button type="submit" class="btn btn-primary">Add visitors</button>
        </form>
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $("label").hide();
        })
    </script>
{% endblock %}
