{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(edit_form,{'attr':{'class':'form'}}) }}
        {{ form_widget(edit_form,{'attr':{'class':'form-control'}}) }}
        <input type="submit" value="Edit" class="btn btn-default"/>
    {{ form_end(edit_form) }}
    <a href="{{ path('users_index') }}">Back to the list</a>
    {{ form_start(delete_form,{'attr':{'class':'form'}}) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
