{% extends 'base.html.twig' %}
{% block form %}
    <form class="form-inline mt-2 mt-md-0" action="{{ path('search_topic') }}" method="post">
        <input class="form-control mr-sm-2"
               type="text"
               name="topicTitle"
               placeholder="Topic title" aria-label="Search">
            <select name="authorId"  class="form-control mr-sm-2" >
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.nom }}</option>
                {% endfor %}
            </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}
{% block body %}
    <h1>Topics list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title
                <th>Auteur</th>
                <th>Nombres de vue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td><a href="{{ path('topics_show', { 'id': topic.id }) }}">{{ topic.id }}</a></td>
                <td>{{ topic.title }}</td>
                <td>{{ topic.oUser.nom ~ topic.oUser.prenom }}</td>
                <td>
                    {{ 1 + topic.countViewer() }}
                </td>
                <td>
                    <a href="{{ path('topics_show', { 'id': topic.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('topics_edit', { 'id': topic.id }) }}" class="btn btn-primary">edit</a>
                    <a href="{{ path('vu_topic_add_visitor',{'topicId': topic.id}) }}" class="btn btn-default">Add visitors</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('topics_new') }}" class="btn btn-primary">Create a new topic</a>
{% endblock %}
